html {
  font-family: sans-serif;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  height: 100%;
}
body {
  height: 100%;
  line-height: 1;
}
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
input,
select,
textarea,
button {
  vertical-align: middle;
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Arial, sans-serif;
}
input[type=button],
input[type=submit],
input[type=reset],
button {
  cursor: pointer;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #cc0000;
}
a:hover {
  color: #000;
}
a:active {
  color: #c9c9c9;
}
a img {
  vertical-align: middle;
}
ul,
ol {
  margin: 0 0 15px 15px;
}
p {
  margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
  margin: 0;
}
nav ul li {
  margin: 0;
}
address {
  font-style: normal;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 16px 0;
  padding: 0;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
.clr {
  font-size: 0px;
  line-height: 0px;
  clear: both;
}
.section {
  font-size: 12px;
  font-family: Arial;
  line-height: 18px;
  padding: 30px;
}
.section__button {
  box-shadow: 1px 1px 1px 1px #555;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  background: #1f4676;
  color: #fff;
  margin: 0 auto 40px;
  text-decoration: none;
}
.response {
  width: 300px;
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 5px 2px #555;
}
.response__text {
  font-family: Arial;
  line-height: 1;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.response__close {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background: #1f4676;
  color: #fff;
  box-shadow: 1px 1px 1px 1px #555;
}
.popup {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
  opacity: 0;
  pointer-events: none;
  background: rgba(24, 17, 34, 0.7);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.popup_active {
  opacity: 1;
  pointer-events: auto;
}
.popup__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.popup__table {
  display: table;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
}
.popup__cell {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.popup__block {
  display: inline-block;
  text-align: left;
  position: relative;
}
.popup__close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}
.popup__close:before,
.popup__close:after {
  position: absolute;
  left: 50%;
  margin: -1px 0 0 -8px;
  top: 50%;
  height: 2px;
  width: 16px;
  background: #000;
  content: '';
  transform-origin: 50% 50%;
}
.popup__close:before {
  transform: rotate(-45deg);
}
.popup__close:after {
  transform: rotate(45deg);
}
.popup_active .popup__close {
  display: block;
}
.popup__change > div {
  display: block;
}
.popup__body_hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
  -moz-overflow-scrolling: auto;
  -o-overflow-scrolling: auto;
  -ms-overflow-scrolling: auto;
  overflow-scrolling: auto;
}
/*# sourceMappingURL=style.css.map */